.value-circle-container{    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.value-circle-header{
    margin: 0;
    padding-right: 1em;
}

.CircularProgressbar {
    width: 100px;
    height: 100px;
}